@page "/"
@inherits ViewComponentBase<HomeViewModel>

<h1>Hello, world!</h1>

Welcome to your new app.

<div style="display: flex; flex-direction: row;">
    @if (ViewModel.CreatedCharacters.Any())
    {
        <table style="margin: 0 2.5rem;">
            @foreach (var character in ViewModel.CreatedCharacters)
            {
                <tr>
                    <td @onclick="() => ViewModel.ViewCharacterCommand.Execute(ViewModel.CreatedCharacters.IndexOf(character))">@character</td>
                </tr>
            }
        </table>
    }
    else
    {
        <div>There's no created characters yet!</div>
    }

    @if (ViewModel.Races.Any())
    {
        <table style="margin: 0 2.5rem;">
            @foreach (var race in ViewModel.Races)
            {
                <tr>
                    <td @onclick="() => ViewModel.EditRaceCommand.Execute(ViewModel.Races.IndexOf(race))">@race</td>
                </tr>
            }
        </table>
    }
    else
    {
        <div>There's no created races yet!</div>
    }

    @if (ViewModel.Classes.Any())
    {
        <table style="margin: 0 2.5rem;">
            @foreach (var c in ViewModel.Classes)
            {
                <tr>
                    <td @onclick="() => ViewModel.EditClassCommand.Execute(ViewModel.Classes.IndexOf(c))">@c</td>
                </tr>
            }
        </table>
    }
    else
    {
        <div>There's no created classes yet!</div>
    }
</div>